/*menu bar css window*/
*{
	margin: 0px;
	padding: 0px;
	font-family: sans-serif;
}
body{
	/*height: 10000px;*/
}
#sidebar{
	margin-top: 50px;
	position: fixed;
	width: 300px;
	height: 100%;
	background-color: #0b3465;
	left: -300px;
	transition: all 150ms linear;
	/*opacity: 0.9;*/
}
#sidebar input[type="checkbox"]{
	display: none;
}
#sidebar.active{
	left: 0px;
}
#sidebar ul li{
	color: rgba(250,250,250,1);
	list-style: none;
	padding: 15px 15px;
	/*border-bottom: 1px solid rgba(100,100,100,0.3);*/
}
#sidebar ul li:hover{
	transition: 400ms;
	background-color: #0950a0;
}
#sidebar ul #dropdown li{
	width: 100%;
}
#sidebar ul #dropdown li:hover{
	background-color: #0b3465;
	margin-left: -6%;
}
#sidebar ul a{
	text-decoration: none;
}
#sidebar #dropdown{
	display: none;
}
#sidebar input:checked ~ #dropdown{
	display: block;
	margin-top: 10px;
}
#toggle-btn{
	position: relative;
	width: 40px;
	height: 40px;
	margin-left: 2%;
	margin-top: 4px;
	left: 0px;
}
#toggle-btn.active{
	/*left: 300px;*/
}
#toggle-btnb{
	/*float: right;*/
	display: none;
	position: relative;
	width: 30px;
	height: 30px;
	left: 300px;

}
#toggle-binb.active{
	
}
#sidebar img{
	width: 16px;
	height: 16px;
	margin-right: 20px;
}

#menubar{
	width: 100%;
	height: 50px;
	background-color: #0b3465;
	position: fixed;
}
#menubar #menu_btn{
	float: left;
	margin-left: 2%;
}
#menubar h3{
	color: white;
	border: 2px solid white;
	margin-top: 4px;
	width: 20%;
	height: 28px;
	margin-left: 40%;
	padding-top: 7px;
	text-align: center;
	border-radius: 10px;
	font-size: 17px;
}
#full_menu{
	width: 100%;
	height: 50px;
	background-color: brown;
	box-shadow: 1px 1px 15px #000000;
}
/*----------------end of menu bar window-------------------*/
#header_about_campus{
	width: 100%;
	height: auto;
	float: left;
	/*background-color: red;*/
}
#header_about_campus img{
	width: 100%;
	height: 100%;
}
/*___________________________________________________*/
#about_campus_content{
	width: 100%;
	height: 600px;
	float: left;
	background-color: #e5dede;
	margin-top: 60px;
	float: left;
}
#about_campus_content #title_acc{
	width: 100%;
	/*background-color: green;*/
	margin-top: 40px;
}
#about_campus_content #title_acc h1{
	background-color: #0B3465;
	width: 90%;
	border-radius: 0px 20px 20px 0px;
	font-size: 24px;
	color: white;
	box-shadow: 0px 0px 10px #000;
	font-family: Arial Black;
	padding: 20px;
}
#about_campus_text_content{
	/*background-color: green;*/
	border: 0px solid blue;
	width: 60%;
	float: left;
	height: 82%;
}
#about_campus_text_content p{
	margin-top: 8%;
	margin-left: 5%;
	margin-right: 5%;
	font-size: 20px;
	line-height: 40px;
}
#about_campus_img_content{
	/*background-color: orange;*/
	width: 40%;
	height: 82%;
	float: left;
	text-align: center;
}
#about_campus_img_content img{
	width: 270px;
	height: auto;
	margin-top: 30%;
}
/*______________________________________________________*/
#two_head_offices{
	width: 100%;
	height: 600px;
	/*background-color: yellow;*/
	float: left;
	margin-top: 80px;
}
#two_head_offices_title{
	width: 100%;
	height: 15%;
	/*background-color: lightblue;*/
	text-align: center;
	padding-top: 2%;
}
#two_head_offices_title h1{
	font-family: Britannic Bold;
}
#two_head_offices_left{
	transition: 1s;
	width: 40%;
	height: 80%;
	float: left;
	margin-left: 7%;
}
#two_head_offices_left:hover{
	transition: 1s;
	background-color: #caccce;
	box-shadow: 0px 0px 15px #000000;
}
#two_head_office_header{
	width: 100%;
	height: 8%;
	/*background-color: red;*/
	text-align: center;
	padding-top: 5%;
}
#two_head_office_header h3{
	font-family:Britannic Bold;
	font-size: 24px;
}
#two_head_offices_img{
	width: 100%;
	height: 30%;
}
#two_head_offices_img img{
	width: 28%;
	height: auto;
	margin-left: 37%;
	margin-top: 2%;

}
#two_head_offices_txt{
	width: 100%;
	height: 50%;
	/*background-color: blue;*/
	padding-top: 0%;
}
#two_head_offices_txt h4{
	text-align: center;
	font-size: 20px;
	margin-bottom: 5%;
	font-family: Lucida Sans;
}
#two_head_offices_txt p{
	text-align: center;
	margin: 5%;
	line-height: 30px;
}
#one_contact{
	margin-bottom: 5%;
}
#two_head_offices_txt img{
	width: 5%;
	height: auto;
	margin-left: 10%;
	margin-right: 3%;
}
#two_head_offices_txt span{
	font-size: 14px;
}
#map{
	width: 100%;
	height: auto;
	/*background-color: red;*/
	float: left;
	margin-top: 20px;
}
/*-------------------------------------------------------------------------*/



@media only screen and (max-width:800px) {
 /*menu bar css tablet........................................*/

   #sidebar{
   		transition: 1s;
		width: 250px;
		height: 100%;
		left: -250px;
		transition: all 150ms linear;
	}

	#sidebar ul li{
		transition: 1s;
		color: rgba(250,250,250,1);
		list-style: none;
		padding: 10px 10px;
		font-size: 16px;
		/*border-bottom: 1px solid rgba(100,100,100,0.3);*/
	}
	#sidebar ul #dropdown li:hover{
		transition: 1s;
		background-color: #0b3465;
		margin-left: -4.5%;
	}
	#menubar h3{
		transition: 1s;
		width: 30%;
		padding-top: 8px;
		font-size: 15px;
		height: 30px;
		margin-left: 38%;
	}
	/*end of menu bar tablet...............................*/
	#header_about_campus{
	width: 100%;
	height: auto;
	float: left;
	/*background-color: red;*/
	}
	#header_about_campus img{
		width: 100%;
		height: 100%;
	}
	/*______________________________________________________*/
	#about_campus_content{
	width: 100%;
	height: 700px;
	float: left;
	background-color: #e5dede;
	margin-top: 60px;
}
#about_campus_content #title_acc{
	width: 100%;
	/*background-color: green;*/
	margin-top: 30px;
}
#about_campus_content #title_acc h1{
	background-color: #0B3465;
	width: 90%;
	border-radius: 0px 20px 20px 0px;
	font-size: 19px;
	color: white;
	box-shadow: 0px 0px 10px #000;
	font-family: Arial Black;
	padding: 20px;
}
#about_campus_text_content{
	/*background-color: green;*/
	border: 0px solid blue;
	width: 100%;
	float: left;
	height: 40%;
}
#about_campus_text_content p{
	margin-top: 4%;
	margin-left: 5%;
	margin-right: 5%;
	font-size: 19px;
	line-height: 34px;
}
#about_campus_img_content{
	/*background-color: orange;*/
	width: 100%;
	height: 50%;
	float: left;
}
#about_campus_img_content img{
	width: 250px;
	height: auto;
	margin-top: 4%;
}
/*_______________________________________________________*/
#two_head_offices{
	width: 100%;
	height: 600px;
	/*background-color: yellow;*/
	float: left;
	margin-top: 80px;
}
#two_head_offices_title{
	width: 100%;
	height: 15%;
	/*background-color: lightblue;*/
	text-align: center;
	padding-top: 2%;
}
#two_head_offices_title h1{
	font-family: Britannic Bold;
}
#two_head_offices_left{
	width: 40%;
	height: 70%;
	float: left;
	margin-left: 7%;
}
#two_head_offices_left:hover{
	transition: 1s;
	background-color: #caccce;
}
#two_head_office_header{
	width: 100%;
	height: 8%;
	/*background-color: red;*/
	text-align: center;
	padding-top: 5%;
}
#two_head_office_header h3{
	font-size: 20px;
}
#two_head_offices_img{
	width: 100%;
	height: 30%;
}
#two_head_offices_img img{
	width: 28%;
	height: auto;
	margin-left: 37%;
	margin-top: 2%;

}
#two_head_offices_txt{
	width: 100%;
	height: 50%;
	/*background-color: blue;*/
	padding-top: 0%;
}
#two_head_offices_txt h4{
	text-align: center;
	font-size: 18px;
	margin-bottom: 5%;
}
#two_head_offices_txt p{
	text-align: center;
	margin: 5%;
	line-height: 28px;
	font-size: 14px;
}
#one_contact{
	margin-bottom: 5%;
}
#two_head_offices_txt img{
	width: 5%;
	height: auto;
	margin-left: 8%;
	margin-right: 3%;
}
#two_head_offices_txt span{
	font-size: 12px;
}
}
/*----------------------------------------------------------------------*/



@media only screen and (max-width: 600px)
{
	#menubar h3{
		width: 40%;
		font-size: 13px;
		margin-left: 35%;
	}
	#header_about_campus{
	width: 100%;
	height: auto;
	float: left;
	/*background-color: red;*/
	}
	#header_about_campus img{
		width: 100%;
		height: 100%;
	}
	/*______________________________________________*/
		#about_campus_content{
	width: 100%;
	height: 700px;
	float: left;
	background-color: #e5dede;
	margin-top: 30px;
}
#about_campus_content #title_acc{
	width: 100%;
	/*background-color: green;*/
	margin-top: 30px;
}
#about_campus_content #title_acc h1{
	background-color: #0B3465;
	width: 80%;
	height: 9%;
	border-radius: 0px 20px 20px 0px;
	font-size: 15px;
	color: white;
	box-shadow: 0px 0px 10px #000;
	font-family: Arial Black;
	padding: 20px;
}
#about_campus_text_content{
	/*background-color: green;*/
	border: 0px solid blue;
	width: 100%;
	float: left;
	height: 40%;
}
#about_campus_text_content p{
	margin-top: 4%;
	margin-left: 5%;
	margin-right: 5%;
	font-size: 14px;
	line-height: 24px;
}
#about_campus_img_content{
	/*background-color: orange;*/
	width: 100%;
	height: 50%;
	float: left;
}
#about_campus_img_content img{
	width: 200px;
	height: auto;
	margin-top: 10%;
}
/*__________________________________________________*/
#two_head_offices{
	width: 100%;
	height: 1000px;
	/*background-color: yellow;*/
	float: left;
	margin-top: 80px;
}
#two_head_offices_title{
	width: 100%;
	height: 5%;
	/*background-color: lightblue;*/
	text-align: center;
	padding-top: 10%;
	font-size: 12px;
}
#two_head_offices_title h1{
	font-family: Britannic Bold;
}
#two_head_offices_left{
	width: 90%;
	height: 420px;
	float: left;
	margin-left: 5%;
	/*background-color: grey;*/
	margin-top: 20px;
}
#two_head_offices_left:hover{
	transition: 1s;
	background-color: #caccce;
}
#two_head_office_header{
	width: 100%;
	height: 8%;
	/*background-color: red;*/
	text-align: center;
	padding-top: 5%;
}
#two_head_office_header h3{
	font-size: 20px;
}
#two_head_offices_img{
	width: 100%;
	height: 30%;
}
#two_head_offices_img img{
	width: 26%;
	height: 90px;
	margin-left: 39%;
	margin-top: 2%;

}
#two_head_offices_txt{
	width: 100%;
	height: 50%;
	/*background-color: blue;*/
	padding-top: 0%;
}
#two_head_offices_txt h4{
	text-align: center;
	font-size: 16px;
	margin-bottom: 5%;
}
#two_head_offices_txt p{
	text-align: center;
	margin: 5%;
	line-height: 30px;
}
#one_contact{
	margin-bottom: 5%;
}
#two_head_offices_txt img{
	width: 5%;
	height: auto;
	margin-left: 10%;
	margin-right: 3%;
}
#two_head_offices_txt span{
	font-size: 12px;
}
}
