
/*For Desktop View*/

	*{
		margin:0;
		padding:0;
		font-family: sans-serif;
	}

	/*Menu Bar*/
	#sidebar{
	margin-top: 50px;
	position: fixed;
	width: 300px;
	height: 100%;
	background-color: #0b3465;
	left: -300px;
	transition: all 150ms linear;
	/*opacity: 0.9;*/
}
#sidebar input[type="checkbox"]{
	display: none;
}
#sidebar.active{
	left: 0px;
}
#sidebar ul li{
	color: rgba(250,250,250,1);
	list-style: none;
	padding: 15px 15px;
	/*border-bottom: 1px solid rgba(100,100,100,0.3);*/
}
#sidebar ul li:hover{
	transition: 400ms;
	background-color: #0950a0;
}
#sidebar ul #dropdown li{
	width: 100%;
}
#sidebar ul #dropdown li:hover{
	background-color: #0b3465;
	margin-left: -6%;
}
#sidebar ul a{
	text-decoration: none;
}
#sidebar #dropdown{
	display: none;
}
#sidebar input:checked ~ #dropdown{
	display: block;
	margin-top: 10px;
}
#toggle-btn{
	position: relative;
	width: 40px;
	height: 40px;
	margin-left: 2%;
	margin-top: 4px;
	left: 0px;
}
#toggle-btn.active{
	/*left: 300px;*/
}
#toggle-btnb{
	/*float: right;*/
	display: none;
	position: relative;
	width: 30px;
	height: 30px;
	left: 300px;

}
#toggle-binb.active{
	
}
#sidebar img{
	width: 16px;
	height: 16px;
	margin-right: 20px;
}

#menubar{
	width: 100%;
	height: 50px;
	background-color: #0b3465;
	position: fixed;
}
#menubar #menu_btn{
	float: left;
	margin-left: 2%;
}
#menubar h3{
	color: white;
	border: 2px solid white;
	margin-top: 4px;
	width: 20%;
	height: 28px;
	margin-left: 40%;
	padding-top: 7px;
	text-align: center;
	border-radius: 10px;
	font-size: 17px;
}
#full_menu{
	width: 100%;
	height: 50px;
	background-color: brown;
	box-shadow: 1px 1px 15px #000000;
}
	/*Finish Menu Bar*/

	#about_header_photo_div{
		width:100%;
		height:auto;
		border:0px solid blue;
		float:left;
	}

	#about_header_photo_size{
		width:100%;
		height:auto;
	}
	#page_changer_div{
		width:100%;
		height:18px;
		border:0px solid blue;
		float:left;
	}
	#page_changer1{
		font-family:Helvetica;
		font-weight:bold;
		font-size:15px;
		color:#20409a;
	}
	#page_changer:link, #page_changer:visited{
		font-family:Helvetica;
		font-weight:bold;
		font-size:15px;
		color:#20409a;
		text-decoration:none;
	}
	#page_changer:hover, #page_changer:active{
		color:#3562dd;
		transition:0.3s;
	}
	#story_div{
		width:100%;
		height:650px;
		border:0px solid blue;
		float:left;
		background-color:#F8F8F8;

	}
	#about_us_header_div{
		width:100%;
		height:35px;
		border:0px solid blue;
		float:left;
		margin-top:15px;
	}
	#about_us_header{
		font-family:Arial narrow;
		font-weight:bold;
		font-size:35px;
		color:#000000;
		text-align:center;
	}
	#horizontal_line{
		width:40%;
		height:4px;
		border:0px solid rgba(0,0,0,0.6);
		float:left;
		margin-left:30%;
		margin-top:15px;
		background-color:rgba(0,0,0,0.6);
	}
	#about_us_header2_div{
		width:100%;
		height:25px;
		border:0px solid blue;
		float:left;
		margin-top:15px;
	}
	#about_us_header2{
		font-family:Calibri;
		font-weight:bold;
		font-size:20px;
		color:#20409a;
		text-align:center;
	}
	#about_content1_div{
		width:100%;
		height:500px;
		border:0px solid blue;
		float:left;
		margin-top:30px;
	}
	#about_cotent1_left_div{
		width:49%;
		height:500px;
		border:0px solid red;
		float:left;
	}
	#about_cotent1_right_div{
		width:50%;
		height:500px;
		border:0px solid red;
		float:left;

	}
	#super_li{
		list-style-type:square;
		margin-left:20px;
	}
	#sub_li{
		font-family:Trebuchet MS;
		font-weight:bold;
		font-size:17px;
		color:rgba(0,0,0,0.6);
		line-height:1.4;
		margin-bottom:13px;
	}
	#content1_right_para_div{
		width:90%;
		height:120px;
		border:0px solid blue;
		float:left;
		margin-left:5%;
		background-color:#ffffff;
		margin-top:25px;
		box-shadow:0px 1px 6px rgba(0,0,0,0.7);
	}
	#content1_right_photo_div{
		width:20%;
		height:120px;
		border:0px solid blue;
		float:left;
	}
	#content1_photo_size{
		width:100%;
		height:90px;
		margin-top:14px;
	}
	#content1_photo_size2{
		width:80%;
		height:70px;
		margin-top:10px;
		margin-left:10%;
	}
	#content1_photo_size3{
		width:80%;
		height:70px;
		margin-top:20px;
		margin-left:10%;
	}
	#content1_right1_div{
		width:79%;
		height:120px;
		border:0px solid red;
		float:left;
	}
	#content1_right1_header{
		font-family:Calibri;
		font-weight:bold;
		font-size:23px;
		color:#20409a;
		margin-top:20px;
	}
	#content1_right1_para{
		font-family:Candara;
		font-weight:bold;
		font-size:17px;
		color:rgba(0,0,0,0.6);
		margin-top:6px;
	}
	#management_div{
		width:100%;
		height:600px;
		border:0px solid blue;
		float:left;
		background-image:url(img/management_background.jpg);
		background-attachment:fixed;
	}
	#management_header_div{
		width:100%;
		height:35px;
		border:0px solid blue;
		float:left;
		margin-top:40px;
	}
	#management_header{
		font-family:Verdana;
		font-weight:bold;
		font-size:30px;
		color:#000000;
		text-align:center;
		text-shadow:0px 0px 1px #000000;
	}
	#management_para_div{
		width:100%;
		height:450px;
		border:0px solid blue;
		float:left;
		margin-top:30px;
	}
	#management_para1_div{
		width:28%;
		height:450px;
		border:0px solid blue;
		float:left;
		margin-left:3%;
		margin-right:4%;
	}
	#management_para1_div2{
		width:28%;
		height:450px;
		border:0px solid blue;
		float:left;
		margin-right:4%;
	}
	#management_photo_div{
		width:100%;
		height:150px;
		border:0px solid blue;
		float:left;
	}
	#management_person_photo{
		margin-left:15%;
	}
	#management_bio_div{
		width:100%;
		height:295px;
		border:0px solid red;
		float:left;
		border-radius:20px;
		background-color:#0b3465;
		box-shadow:0px 0px 7px #000000;
	}
	#management_bio_name_div{
		width:100%;
		height:28px;
		border:0px solid red;
		float:left;
		margin-top:3px;
	}
	#management_bio_name{
		font-family:Calibri;
		font-weight:bold;
		font-size:22px;
		color:#ffffff;
		text-shadow:0px 1px 1px #000000;
		text-align:center;
	}
	#management_person_role_div{
		width:100%;
		height:18px;
		border:0px solid red;
		float:left;
	}
	#management_person_role{
		font-family:Geneva;
		font-weight:bold;
		font-size:15px;
		color:#f1f43d;
		text-align:center;
		text-shadow:0px 0px 1px #000000;
	}
	#management_person_biography_dv{
		width:100%;
		height:220px;
		border:0px solid red;
		float:left;
		margin-top:7px;
	}
	#management_person_biography{
		font-family:Candara;
		font-weight:bold;
		font-size:14px;
		color:#ffffff;
		text-align:justify;
		margin-left:9px;
		margin-right:9px;
	}
	#management_person_link{
		text-align:center;
		margin-top:12px;
	}
	#management_person_gmail:link, #management_person_gmail:visited{
		font-family:Helvetica;
		font-weight:bold;
		font-size:14px;
		color:#ffffff;
		text-align:center;
		text-decoration:none;
	}
	#management_person_gmail:hover, #management_person_gmail:active{
		color:rgba(255,255,255,0.7);
	}
	#recognize_div{
		width:100%;
		height:500px;
		border:0px solid blue;
		float:left;
	}
	#recognize_left_div{
		width:49%;
		height:500px;
		border:0px solid blue;
		float:left;
	}
	#recognize_right_div{
		width:50%;
		height:500px;
		border:0px solid blue;
		float:left;
	}
	#recorgnize_header_div{
		width:100%;
		height:70px;
		border:0px solid blue;
		float:left;
		margin-top:110px;
	}
	#recorgnize_header{
		font-family:Trebuchet MS;
		font-weight:bold;
		font-size:30px;
		color:#000000;
		text-align:center;
		text-shadow:0px 0px 1px #000000;
	}
	#recognize_photo_div{
		width:100%;
		height:127px;
		border:0px solid blue;
		float:left;
		margin-top:20px;
	}
	#recorgnize_photo{
		margin-left:4%;
		border:0px solid blue;
	}
	#recorgnize_right_para{
		font-family:Segoe UI;
		font-weight:bold;
		font-size:22px;
		color:#20409a;
		margin-top:120px;
	}

	/*Start Group of Companies*/
	#group_of_companies_div{
		width:100%;
		height:600px;
		border:0px solid blue;
		float:left;
		background-image:url(img/group_of_companies.jpg);
		background-attachment:fixed;
	}
	#group_of_companies_header_div{
		width:100%;
		height:55px;
		border:0px solid red;
		float:left;
		margin-top:50px;
	}
	#group_of_companies_header{
		font-family:Comic Sans MS;
		font-weight:bold;
		font-size:35px;
		color:#ffffff;
		text-shadow:0px 1px 2px #000000;
		text-align:center;
	}
	#group_of_companies_para_div{
		width:100%;
		height:420px;
		border:0px solid red;
		float:left;
		margin-top:30px;
	}
	#first_row_group_of_companies{
		width:100%;
		height:198px;
		border:0px solid green;
		float:left;
	}
	#group_of_companies_line{
		width:94%;
		height:1px;
		background-color:rgba(255,255,255,0.6);
		margin-top:6px;
		margin-bottom:6px;
		float:left;
		margin-left:3%;
	}
	#second_row_group_of_companies{
		width:100%;
		height:198px;
		border:0px solid green;
		float:left;
	}
	#colum_group_of_companies_div{
		width:30%;
		height:198px;
		border:1px solid;
		border-bottom-color:rgba(0,0,0,0);
		border-top-color:rgba(0,0,0,0);
		border-left-color:rgba(255,255,255,0.6);
		border-right-color:rgba(255,255,255,0.6);
		float:left;
		margin-left:2.3%;
	}
	#colum_group_of_companies_div2{
		width:30%;
		height:198px;
		border:1px solid;
		border-bottom-color:rgba(0,0,0,0);
		border-top-color:rgba(0,0,0,0);
		border-left-color:rgba(255,255,255,0.6);
		border-right-color:rgba(255,255,255,0.6);
		float:left;
		margin-left:34.8%;
	}
	#colum_goc_photo_div{
		width:35%;
		height:198px;
		border:0px solid blue;
		float:left;
	}
	#colum_goc_photo{
		width:80%;
		margin-left:20%;
	}
	#colum_goc_para_div{
		width:63%;
		height:198px;
		border:0px solid red;
		float:left;
	}
	#colum_goc_header{
		font-family:Lucida Sans;
		font-weight:bold;
		font-size:22px;
		color:#ffffff;
		text-shadow:0px 1px 0px #000000;
		margin-left:5px;
		margin-top:15px;
	}
	#colum_goc_para{
		font-family:Calibri;
		font-size:16px;
		color:#ffffff;
		margin-left:5px;
		margin-top:10px;
	}
	/*Finish Group of Companies*/


/*============================================================================*/
@media only screen and (max-width: 800px){
	/*For Tablet View*/
	*{
		margin:0;
		padding:0;
		font-family:sans-serif;
	}
	/*Start Menu*/
	 #sidebar{
   		transition: 1s;
		width: 250px;
		height: 100%;
		left: -250px;
		transition: all 150ms linear;
	}

	#sidebar ul li{
		transition: 1s;
		color: rgba(250,250,250,1);
		list-style: none;
		padding: 10px 10px;
		font-size: 16px;
		/*border-bottom: 1px solid rgba(100,100,100,0.3);*/
	}
	#sidebar ul #dropdown li:hover{
		transition: 1s;
		background-color: #0b3465;
		margin-left: -4.5%;
	}
	#menubar h3{
		transition: 1s;
		width: 30%;
		padding-top: 8px;
		font-size: 15px;
		height: 30px;
		margin-left: 38%;
	}
	
	/*Finish Menu*/
	#about_header_photo_div{
		width:100%;
		height:auto;
		border:0px solid blue;
		float:left;

	}
	#about_header_photo_size{
		width:100%;
		height:auto;
	}
	#page_changer_div{
		width:100%;
		height:15px;
		border:0px solid blue;
		float:left;
	}
	#page_changer1{
		font-family:Helvetica;
		font-weight:bold;
		font-size:13px;
		color:#20409a;
	}
	#page_changer:link, #page_changer:visited{
		font-family:Helvetica;
		font-weight:bold;
		font-size:13px;
		color:#20409a;
		text-decoration:none;
	}
	#page_changer:hover, #page_changer:active{
		color:#3562dd;
		transition:0.3s;
	}
	#story_div{
		width:100%;
		height:825px;
		border:0px solid blue;
		float:left;
		background-color:#F8F8F8;

	}
	#about_us_header_div{
		width:100%;
		height:30px;
		border:0px solid blue;
		float:left;
		margin-top:10px;
	}
	#about_us_header{
		font-family:Arial narrow;
		font-weight:bold;
		font-size:30px;
		color:#000000;
		text-align:center;
	}
	#horizontal_line{
		width:40%;
		height:4px;
		border:0px solid rgba(0,0,0,0.6);
		float:left;
		margin-left:30%;
		margin-top:5px;
		background-color:rgba(0,0,0,0.6);
	}
	#about_us_header2_div{
		width:100%;
		height:20px;
		border:0px solid blue;
		float:left;
		margin-top:4px;
	}
	#about_us_header2{
		font-family:Calibri;
		font-weight:bold;
		font-size:17px;
		color:#20409a;
		text-align:center;
	}
	#about_content1_div{
		width:100%;
		height:500px;
		border:0px solid blue;
		float:left;
		margin-top:15px;
	}
	#about_cotent1_left_div{
		width:100%;
		height:280px;
		border:0px solid red;
		float:left;
	}
	#about_cotent1_right_div{
		width:100%;
		height:450px;
		border:0px solid red;
		float:left;

	}
	#super_li{
		list-style-type:square;
		margin-left:20px;
	}
	#sub_li{
		font-family:Trebuchet MS;
		font-weight:bold;
		font-size:14px;
		color:rgba(0,0,0,0.6);
		line-height:1.4;
		margin-bottom:13px;
	}
	#content1_right_para_div{
		width:90%;
		height:110px;
		border:0px solid blue;
		float:left;
		margin-left:5%;
		background-color:#ffffff;
		margin-top:25px;
		box-shadow:0px 1px 4px rgba(0,0,0,0.7);
	}
	#content1_right_photo_div{
		width:20%;
		height:120px;
		border:0px solid blue;
		float:left;
	}
	#content1_photo_size{
		width:85%;
		height:90px;
		margin-top:12px;
		margin-left:5px;
	}
	#content1_photo_size2{
		width:80%;
		height:70px;
		margin-top:10px;
		margin-left:10%;
	}
	#content1_photo_size3{
		width:68%;
		height:70px;
		margin-top:13px;
		margin-left:12%;
	}
	#content1_right1_div{
		width:79%;
		height:120px;
		border:0px solid red;
		float:left;
	}
	#content1_right1_header{
		font-family:Calibri;
		font-weight:bold;
		font-size:21px;
		color:#20409a;
		margin-top:20px;
	}
	#content1_right1_para{
		font-family:Candara;
		font-weight:bold;
		font-size:15px;
		color:rgba(0,0,0,0.6);
		margin-top:6px;
	}
	#management_div{
		width:100%;
		height:1270px;
		border:0px solid blue;
		float:left;
		background-image:url(img/management_background.jpg);
		background-attachment:fixed;
		background-size:cover;
		background-repeat:no-repeat;
		background-position:center;
	}
	#management_header_div{
		width:100%;
		height:30px;
		border:0px solid blue;
		float:left;
		margin-top:40px;
	}
	#management_header{
		font-family:Verdana;
		font-weight:bold;
		font-size:25px;
		color:#000000;
		text-align:center;
		text-shadow:0px 0px 1px #000000;
	}
	#management_para_div{
		width:100%;
		height:1150px;
		border:0px solid red;
		float:left;
		margin-top:30px;
	}
	#management_para1_div{
		width:80%;
		height:380px;
		border:0px solid blue;
		float:left;
		margin-left:10%;
	}
	#management_para1_div2{
		width:80%;
		height:380px;
		border:0px solid red;
		float:left;
		margin-left:10%;
	}
	#management_photo_div{
		width:90%;
		height:150px;
		border:0px solid blue;
		float:left;
		margin-left:5%;
	}
	#management_person_photo{
		margin-left:30%;
	}
	#management_bio_div{
		width:80%;
		height:205px;
		border:0px solid red;
		float:left;
		border-radius:20px;
		background-color:#0b3465;
		box-shadow:0px 0px 7px #000000;
		margin-left:10%;
	}
	#management_bio_name_div{
		width:100%;
		height:25px;
		border:0px solid red;
		float:left;
		margin-top:3px;
	}
	#management_bio_name{
		font-family:Calibri;
		font-weight:bold;
		font-size:21px;
		color:#ffffff;
		text-shadow:0px 1px 1px #000000;
		text-align:center;
	}
	#management_person_role_div{
		width:100%;
		height:17px;
		border:0px solid red;
		float:left;
		margin-top:3px;
	}
	#management_person_role{
		font-family:Geneva;
		font-weight:bold;
		font-size:14px;
		color:#f1f43d;
		text-align:center;
		text-shadow:0px 0px 1px #000000;
	}
	#management_person_biography_dv{
		width:100%;
		height:140px;
		border:0px solid red;
		float:left;
		margin-top:6px;
	}
	#management_person_biography{
		font-family:Candara;
		font-weight:bold;
		font-size:14px;
		color:#ffffff;
		text-align:justify;
		margin-left:9px;
		margin-right:9px;
	}
	#management_person_link{
		text-align:center;
		margin-top:12px;
	}
	#management_person_gmail:link, #management_person_gmail:visited{
		font-family:Helvetica;
		font-weight:bold;
		font-size:14px;
		color:#ffffff;
		text-align:center;
		text-decoration:none;
	}
	#management_person_gmail:hover, #management_person_gmail:active{
		color:rgba(255,255,255,0.7);
	}
	#recognize_div{
		width:100%;
		height:430px;
		border:0px solid blue;
		float:left;
	}
	#recognize_left_div{
		width:100%;
		height:260px;
		border:0px solid blue;
		float:left;
	}
	#recognize_right_div{
		width:100%;
		height:160px;
		border:0px solid red;
		float:left;
	}
	#recorgnize_header_div{
		width:100%;
		height:60px;
		border:0px solid blue;
		float:left;
		margin-top:40px;
	}
	#recorgnize_header{
		font-family:Trebuchet MS;
		font-weight:bold;
		font-size:28px;
		color:#000000;
		text-align:center;
		text-shadow:0px 0px 1px #000000;
	}
	#recognize_photo_div{
		width:100%;
		height:127px;
		border:0px solid blue;
		float:left;
		margin-top:20px;
	}
	#recorgnize_photo{
		margin-left:20%;
		border:0px solid blue;
	}
	#recorgnize_right_para{
		font-family:Segoe UI;
		font-weight:bold;
		font-size:18px;
		color:#20409a;
		margin-top:10px;
		text-align:center;
	}

	/*Start Group of Companies*/
	#group_of_companies_div{
		width:100%;
		height:850px;
		border:0px solid red;
		float:left;
		background-image:url(img/group_of_companies.jpg);
		background-attachment:fixed;
	}
	#group_of_companies_header_div{
		width:100%;
		height:34px;
		border:0px solid red;
		float:left;
		margin-top:20px;
	}
	#group_of_companies_header{
		font-family:Comic Sans MS;
		font-weight:bold;
		font-size:24px;
		color:#ffffff;
		text-shadow:0px 1px 2px #000000;
		text-align:center;
	}
	#group_of_companies_para_div{
		width:100%;
		height:420px;
		border:0px solid red;
		float:left;
		margin-top:30px;
	}
	#first_row_group_of_companies{
		width:98%;
		height:562px;
		border:0px solid red;
		float:left;
	}

	#second_row_group_of_companies{
		width:98%;
		height:190px;
		border:0px solid green;
		float:left;
	}
	#colum_group_of_companies_div{
		width:99%;
		height:185px;
		border:0px solid red;
		float:left;
		margin-left:2.3%;
	}
	#colum_group_of_companies_div2{
		width:99%;
		height:190px;
		float:left;
		border:0px solid blue;
		margin-left:2.3%;
	}
	#colum_goc_photo_div{
		width:35%;
		height:100px;
		border:0px solid blue;
		float:left;
	}
	#colum_goc_photo{
		width:40%;
		margin-left:0%;
	}
	#colum_goc_para_div{
		width:95%;
		height:82px;
		border:0px solid red;
		float:left;
	}
	#colum_goc_header{
		font-family:Lucida Sans;
		font-weight:bold;
		font-size:20px;
		color:#ffffff;
		text-shadow:0px 1px 0px #000000;
		margin-left:5px;
		margin-top:5px;
	}
	#colum_goc_para{
		font-family:Calibri;
		font-size:16px;
		color:#ffffff;
		margin-left:5px;
		margin-top:10px;
	}
	#group_of_companies_line{
		width:94%;
		height:0px;
		background-color:rgba(255,255,255,0.6);
		margin-top:6px;
		margin-bottom:6px;
		float:left;
		margin-left:3%;
	}
	/*Finish Group of Companies*/

}

/*============================================================================*/
@media only screen and (max-width: 600px){
	/*For Mobile View*/
	*{
		margin:0;
		padding:0;
		font-family:sans-serif;
	}

	/*Menu Start*/
	#menubar h3{
		width: 40%;
		font-size: 13px;
		margin-left: 35%;
	}
	/*Menu Finish*/

	#about_header_photo_div{
		width:100%;
		height:auto;
		border:0px solid blue;
		float:left;

	}
	#about_header_photo_size{
		width:100%;
		height:auto;
	}
	#page_changer_div{
		width:100%;
		height:18px;
		border:0px solid blue;
		float:left;
	}
	##page_changer1{
		font-family:Helvetica;
		font-weight:bold;
		font-size:11px;
		color:#20409a;
	}
	#page_changer:link, #page_changer:visited{
		font-family:Helvetica;
		font-weight:bold;
		font-size:11px;
		color:#20409a;
		text-decoration:none;
	}
	#page_changer:hover, #page_changer:active{
		color:#3562dd;
		transition:0.3s;
	}
	#story_div{
		width:100%;
		/*height:835px;*/
		height:880px;
		border:0px solid blue;
		float:left;
		background-color:#F8F8F8;

	}
	#about_us_header_div{
		width:100%;
		height:25px;
		border:0px solid blue;
		float:left;
		margin-top:5px;
	}
	#about_us_header{
		font-family:Arial narrow;
		font-weight:bold;
		font-size:24px;
		color:#000000;
		text-align:center;
	}
	#horizontal_line{
		width:40%;
		height:2px;
		border:0px solid rgba(0,0,0,0.6);
		float:left;
		margin-left:30%;
		margin-top:4px;
		background-color:rgba(0,0,0,0.6);
	}
	#about_us_header2_div{
		width:100%;
		height:20px;
		border:0px solid blue;
		float:left;
		margin-top:4px;
	}
	#about_us_header2{
		font-family:Calibri;
		font-weight:bold;
		font-size:16px;
		color:#20409a;
		text-align:center;
	}
	#about_content1_div{
		width:100%;
		height:500px;
		border:0px solid blue;
		float:left;
		margin-top:10px;
	}
	#about_cotent1_left_div{
		width:100%;
		height:420px;
		border:0px solid red;
		float:left;
	}
	#about_cotent1_right_div{
		width:100%;
		height:400px;
		border:0px solid red;
		float:left;

	}
	#super_li{
		list-style-type:circle;
		margin-left:20px;
	}
	#sub_li{
		font-family:Trebuchet MS;
		font-weight:bold;
		font-size:13px;
		color:rgba(0,0,0,0.6);
		line-height:1.4;
		margin-bottom:13px;
	}
	#content1_right_para_div{
		width:90%;
		height:100px;
		border:0px solid blue;
		float:left;
		margin-left:5%;
		background-color:#ffffff;
		margin-top:20px;
		box-shadow:0px 1px 4px rgba(0,0,0,0.7);
	}
	#content1_right_photo_div{
		width:20%;
		height:60px;
		border:0px solid blue;
		float:left;
	}
	#content1_photo_size{
		width:90%;
		height:50px;
		margin-top:20px;
	}
	#content1_photo_size2{
		width:75%;
		height:50px;
		margin-top:20px;
		margin-left:10%;
	}
	#content1_photo_size3{
		width:90%;
		height:48px;
		margin-top:20px;
		margin-left:1%;
	}
	#content1_right1_div{
		width:79%;
		height:100px;
		border:0px solid red;
		float:left;
	}
	#content1_right1_header{
		font-family:Calibri;
		font-weight:bold;
		font-size:18px;
		color:#20409a;
		margin-top:20px;
	}
	#content1_right1_para{
		font-family:Candara;
		font-weight:bold;
		font-size:12px;
		color:rgba(0,0,0,0.6);
		margin-top:6px;
	}
	#management_div{
		width:100%;
		height:1330px;
		border:0px solid blue;
		float:left;
		background-image:url(img/management_background.jpg);
		background-attachment:fixed;
		background-size:cover;
		background-repeat:no-repeat;
		background-position:center;
	}
	#management_header_div{
		width:100%;
		height:25px;
		border:0px solid blue;
		float:left;
		margin-top:40px;
	}
	#management_header{
		font-family:Verdana;
		font-weight:bold;
		font-size:20px;
		color:#000000;
		text-align:center;
		text-shadow:0px 0px 1px #000000;
	}
	#management_para_div{
		width:100%;
		height:1240px;
		border:0px solid red;
		float:left;
		margin-top:15px;
	}
	#management_para1_div{
		width:90%;
		height:410px;
		border:0px solid blue;
		float:left;
		margin-left:5%;

	
	}
	#management_para1_div2{
		width:90%;
		height:410px;
		border:0px solid blue;
		float:left;
		/*margin-right:2%;*/
		margin-left:5%;
		/*margin-top:-70px;*/
	}
	#management_photo_div{
		width:73%;
		height:110px;
		border:0px solid blue;
		float:left;
		margin-left:13%;
	}
	#management_person_photo{
		width:73%;
		height:110px;
		margin-left:13%;
	}
	#management_bio_div{
		width:90%;
		height:280px;
		border:0px solid red;
		float:left;
		border-radius:20px;
		background-color:#0b3465;
		box-shadow:0px 0px 7px #000000;
		margin-left:5%;
	}
	#management_bio_name_div{
		width:100%;
		height:25px;
		border:0px solid red;
		float:left;
		margin-top:3px;
	}
	#management_bio_name{
		font-family:Calibri;
		font-weight:bold;
		font-size:19px;
		color:#ffffff;
		text-shadow:0px 1px 1px #000000;
		text-align:center;
	}
	#management_person_role_div{
		width:100%;
		height:16px;
		border:0px solid red;
		float:left;
	}
	#management_person_role{
		font-family:Geneva;
		font-weight:bold;
		font-size:13px;
		color:#f1f43d;
		text-align:center;
		text-shadow:0px 0px 1px #000000;
	}
	#management_person_biography_dv{
		width:100%;
		height:180px;
		border:0px solid red;
		float:left;
		margin-top:5px;
	}
	#management_person_biography{
		font-family:Candara;
		font-weight:bold;
		font-size:13px;
		color:#ffffff;
		text-align:justify;
		margin-left:9px;
		margin-right:9px;
	}
	#management_person_link{
		text-align:center;
		margin-top:10px;
	}
	#management_person_gmail:link, #management_person_gmail:visited{
		font-family:Helvetica;
		font-weight:bold;
		font-size:13px;
		color:#ffffff;
		text-align:center;
		text-decoration:none;
	}
	#management_person_gmail:hover, #management_person_gmail:active{
		color:rgba(255,255,255,0.7);
	}
	#recognize_div{
		width:100%;
		height:340px;
		border:0px solid blue;
		float:left;
	}
	#recognize_left_div{
		width:100%;
		height:170px;
		border:0px solid blue;
		float:left;
	}
	#recognize_right_div{
		width:100%;
		height:160px;
		border:0px solid red;
		float:left;
	}
	#recorgnize_header_div{
		width:100%;
		height:50px;
		border:0px solid red;
		float:left;
		margin-top:20px;
	}
	#recorgnize_header{
		font-family:Trebuchet MS;
		font-weight:bold;
		font-size:22px;
		color:#000000;
		text-align:center;
		text-shadow:0px 0px 1px #000000;
	}
	#recognize_photo_div{
		width:100%;
		height:75px;
		border:0px solid red;
		float:left;
		margin-top:20px;
	}
	#recorgnize_photo{
		margin-left:4%;
		border:0px solid red;
		width:90%;
		margin-left:5%;
	}
	#recorgnize_right_para{
		font-family:Segoe UI;
		font-weight:bold;
		font-size:13px;
		color:#20409a;
		margin-top:10px;
		margin-left:10px;
		text-align:center;
	}

	/*Start Group of Companies*/
	#group_of_companies_div{
		width:100%;
		height:840px;
		border:0px solid blue;
		float:left;
		background-image:url(img/group_of_companies.jpg);
		background-attachment:fixed;
	}
	#group_of_companies_header_div{
		width:99%;
		height:33px;
		border:0px solid red;
		float:left;
		margin-top:20px;
	}
	#group_of_companies_header{
		font-family:Comic Sans MS;
		font-weight:bold;
		font-size:22px;
		color:#ffffff;
		text-shadow:0px 1px 2px #000000;
		text-align:center;
	}
	#group_of_companies_para_div{
		width:99%;
		height:420px;
		border:0px solid red;
		float:left;
		margin-top:30px;
	}
	#first_row_group_of_companies{
		width:98%;
		height:548px;
		border:0px solid green;
		float:left;
	}

	#second_row_group_of_companies{
		width:98%;
		height:190px;
		border:0px solid green;
		float:left;
	}
	#colum_group_of_companies_div{
		width:100%;
		height:185px;
		border:0px solid blue;
		float:left;
		margin-left:2.3%;
	}
	#colum_group_of_companies_div2{
		width:100%;
		height:194px;
		border:0px solid blue;
		float:left;
		margin-left:2.3%;
	}
	#colum_goc_photo_div{
		width:35%;
		height:80px;
		border:0px solid blue;
		float:left;
	}
	#colum_goc_photo{
		width:80%;
		margin-left:0%;
	}
	#colum_goc_para_div{
		width:95%;
		height:95px;
		border:0px solid red;
		float:left;
	}
	#colum_goc_header{
		font-family:Lucida Sans;
		font-weight:bold;
		font-size:18px;
		color:#ffffff;
		text-shadow:0px 1px 0px #000000;
		margin-left:5px;
		margin-top:0px;
	}
	#colum_goc_para{
		font-family:Calibri;
		font-size:13px;
		color:#ffffff;
		margin-left:5px;
		margin-top:10px;
	}
	#group_of_companies_line{
		width:94%;
		height:0px;
		background-color:rgba(255,255,255,0.6);
		margin-top:6px;
		margin-bottom:6px;
		float:left;
		margin-left:3%;
	}
	/*Finish Group of Companies*/
}

