/* start */
*{
	margin:0px;
	padding:0px;
}
body{
	/*height: 10000px;*/
}
#sidebar{
	margin-top: 50px;
	position: fixed;
	width: 300px;
	height: 100%;
	background-color: #0b3465;
	left: -300px;
	transition: all 150ms linear;
	/*opacity: 0.9;*/
}
#sidebar input[type="checkbox"]{
	display: none;
}
#sidebar.active{
	left: 0px;
}
#sidebar ul li{
	color: rgba(250,250,250,1);
	list-style: none;
	padding: 15px 15px;
	/*border-bottom: 1px solid rgba(100,100,100,0.3);*/
}
#sidebar ul li:hover{
	transition: 400ms;
	background-color: #0950a0;
}
#sidebar ul #dropdown li{
	width: 100%;
}
#sidebar ul #dropdown li:hover{
	background-color: #0b3465;
	margin-left: -6%;
}
#sidebar ul a{
	text-decoration: none;
}
#sidebar #dropdown{
	display: none;
}
#sidebar input:checked ~ #dropdown{
	display: block;
	margin-top: 10px;
}
#toggle-btn{
	position: relative;
	width: 40px;
	height: 40px;
	margin-left: 2%;
	margin-top: 4px;
	left: 0px;
}
#toggle-btn.active{
	/*left: 300px;*/
}
#toggle-btnb{
	/*float: right;*/
	display: none;
	position: relative;
	width: 30px;
	height: 30px;
	left: 300px;

}
#toggle-binb.active{
	
}
#sidebar img{
	width: 16px;
	height: 16px;
	margin-right: 20px;
}

#menubar{
	width: 100%;
	height: 50px;
	background-color: #0b3465;
	position: fixed;
}
#menubar #menu_btn{
	float: left;
	margin-left: 2%;
}
#menubar h3{
	color: white;
	border: 2px solid white;
	margin-top: 4px;
	width: 20%;
	height: 28px;
	margin-left: 40%;
	padding-top: 7px;
	text-align: center;
	border-radius: 10px;
	font-size: 17px;
}
#full_menu{
	width: 100%;
	height: 50px;
	background-color: brown;
	box-shadow: 1px 1px 15px #000000;
}
/*----------------end of menu bar window-------------------*/
/*__________________________________________________*/
#department_location_header{
	width:100%;
	height:300px;
	background-image:url(img/edu1.jpg);
	opacity:2.2;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	padding-top: 13%;
	float: left;
}
#branch_of_kmd_div{
	width:100%;
	height:780px;
	float:left;
	margin-top:20px;
	border:0px solid blue;
}
#kmd_branch_header_div{
	width:100%;
	height:60px;
	float:left;
	margin-top:20px;
	background-color:#0b3465;
	border:0px solid blue;
}
#branch_of_kmd_header{
	color:#ffffff;
	text-align:center;
	font-family:Calibri;
	margin-top:18px;
	text-decoration:none;
	text-transform:uppercase;	
}
#kmd_branch_content_div{
	width:100%;
	height:630px;
	float:left;
	border:0px solid blue;
	background-color:rgba(245, 248, 250, 0.9);
	margin-top:35px;
}
#kmd_branch_first_content{
	width:31%;
	height:250px;
	float:left;
	border:0px solid #000000;
	margin-left:1%;
	margin-top:40px;
	background-color:#ffffff;
}
#kmd_branch_first_content:hover {
	background-color:#0b3465;
	box-shadow:0px 0px 2px #000000;
	transition:1s;
}
#kmd_branch_first_content:hover #kmd_branch_header_txt{
	color:#ffffff;
}
#kmd_branch_first_content:hover #kmd_branch_header_txt_1{
	color:#ffffff;
}
#kmd_branch_first_content:hover #kmd_branch_header_txt_2{
	color:#ffffff;
}
#kmd_branch_second_content:hover #kmd_branch_header_txt{
	color:#ffffff;
}
#kmd_branch_second_content:hover #kmd_branch_header_txt_1{
	color:#ffffff;
}
#kmd_branch_second_content:hover #kmd_branch_header_txt_2{
	color:#ffffff;
}
#location_photo{
	margin-left:38%;
	margin-top:20px;
}
#education_small_div{
	width:90%;
	height:130px;
	float:left;
	border:0px solid blue;
	margin-top:28px;
	margin-left:4%;
}
#kmd_branch_header_txt{
	font-family:Trebuchet MS;
	font-size:17px;
	text-decoration:none;
	text-align:center;
	margin-top:2px;
}
#kmd_branch_header_txt_1{
	color:rgba(0 , 0 , 0 , 0.5);
	font-family:Geneva;
	font-size:17px;
	text-decoration:none;
	margin-top:20px;
	margin-left:5%;
}
#kmd_branch_header_txt_2{
	color:rgba(0 , 0 , 0 , 0.5);
	font-family:Geneva;
	font-size:18px;
	text-decoration:none;
	margin-top:5px;
	margin-left:16%;
}
#kmd_branch_second_content{
	width:31%;
	height:250px;
	float:left;
	border:0px solid #000000;
	margin-left:2%;
	margin-top:40px;
	background-color:#ffffff;
}
#kmd_branch_second_content:hover,#kmd_branch_second_content:active{
	background-color:#0b3465;
	box-shadow:0px 0px 2px #000000;
	transition:1s;
}
#kmd_office{
	width:100%;
	height:600px;
	float:left;
	border:0px solid red;
	margin-top:10px;
}
#header_for_kmd_office_div{
	width:40%;
	height:40px;
	float:left;
	border:0px solid green;
	margin-left:30%;
	margin-top:30px;
}
#header_for_kmd_office_header{
	font-family:Georgia;
	text-decoration:none;
	margin-left:15%;
	
}
#kmd_office_div{
	width:95%;
	height:400px;
	float:left;
	border:0px solid yellow;
	margin-top:50px;
	margin-left:2%;
}

#kmd_office_div_1{
	width:45%;
	height:360px;
	float:left;
	border:0px solid pink;
	margin-top:25px;
	margin-left:3%;
}
#kmd_office_div_1:hover{
	transition: 1s;
	background-color: #caccce;
	box-shadow: 0px 0px 15px #000000;
}
#kmd_office_div_2{
	width:45%;
	height:360px;
	float:left;
	border:0px solid pink;
	margin-top:25px;
	margin-left:3%;
}
#kmd_office_div_2:hover{
	transition: 1s;
	background-color: #caccce;
	box-shadow: 0px 0px 15px #000000;
}
#photo_for_office{
	margin-top:30px;
	margin-left:40%;
}
#kmd_office_myanmar{
	width:90%;
	height:210px;
	float:left;
	border:0px solid blue;
	margin-top:20px;
	margin-left:5%;
}
#header_for_kmd_office{
	font-family:Lucida Sans;
	text-decoration:none;
	text-transform:uppercase;
	text-align:center;
}
#kmd_office_myanmar_txt_div{
	width:90%;
	height:160px;
	float:left;
	border:0px solid blue;
	margin-top:15px;
	margin-left:5%;
}
#kmd_office_address{
	width:99%;
	height:70px;
	float:left;
	border:0px solid blue;
	margin-top:2px;
}
#kmd_office_myanamr_para_1{
	font-family:Calibri;
	font-size:18px;
	margin-left:2%;
	margin-top:10px;
}
#kmd_office_myanamr_para_3{
	font-family:Calibri;
	font-size:18px;
	margin-left:3%;
	margin-top:10px;
}
#kmd_office_myanamr_para_2{
	font-family:Calibri;
	font-size:18px;
	margin-left:8%;
	margin-top:8px;
}
#kmd_office_myanamr_para_4{
	font-family:Calibri;
	font-size:18px;
	text-align:center;
	margin-top:8px;
}
#communication_way{
	width:90%;
	height:30px;
	float:left;
	border:0px solid blue;
	margin-top:10px;
	margin-left:5%;
}
#img_for_phone{
	margin-top:10px;
	margin-left:5%;
}
#txt{
	margin-top:-40px;
	margin-left:3%;
}
#communication_way_1{
	width:90%;
	height:30px;
	float:left;
	border:0px solid blue;
	margin-top:10px;
	margin-left:5%;
}
#email{
	margin-top:0px;
	margin-left:3%;
}
#whykmd_home{
	float: left;
	width: 90%;
	height: 400px;
	background-image: url(img/whykmd.png);
	background-repeat: no-repeat;
	background-size: cover;
	color: rgba(250,250,250);
	text-align: center;
	padding-top: 40px;
	padding-left: 5%;
	padding-right: 5%;
	margin-top: 40px;
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
}
#whykmd_home h3
{
	margin-bottom: 30px;
	font-size: 40px;
	font-family: Bell Gothic Std Light;
	font-style: italic;
}
#whykmd_home p{
	line-height: 40px;
	font-size: 20px;
	font-family: Futura Bk BT;
}
#numscroll{
	width: 100%;
	height: 300px;
	margin-top: 50px;
	background-color: orange;
	float: left;
}
#footer{
	width:100%;
	height:450px;
	border:0px solid green;
	margin-top:80px;
	float:left;
}
#footer_top{
	width:100%;
	height:400px;
	border:0px solid orange;
	float:left;
	background-color:#1b2230;
}
#footer_first_div{
	width:23%;
	height:330px;
	float:left;
	border:0px solid yellow;
	margin-left:5%;
	margin-top:40px;
}
#footer_first_header{
	width:43%;
	height:50px;
	float:left;
	border:0px solid purple;
	margin-left:6%;
	
	
}
#footer_header1{
	color:#ffffff;
	font-family:Helvetica;
	font-size:18px;
	font-weight:bold;
	text-transform:uppercase;
}
#horizontal_footer{
	width:40%;
	height:1px;
	float:left;
	border:0px solid blue;
	background-color:blue;
	margin-top:15px;
}
#footer_address{
	width:88%;
	height:60px;
	float:left;
	border:0px solid green;
	margin-left:-44%;
	margin-top:55px;
}
#footer_text_div{
	width:90%;
	height:265px;
	float:left;
	border:0px solid blue;
	margin-top:10px;
}
#footer_text{
	font-family:sans-serif;
	font-weight:bold;
	font-size:13px;
	color:#ffffff;
	margin-bottom:3px;
}
#footer_text_1{
	font-family:sans-serif;
	font-weight:bold;
	font-size:14px;
	color:#20409a;
	margin-top:13px;
	margin-bottom:3px;
}
#footer_second_div{
	width:20%;
	height:300px;
	float:left;
	border:0px solid blue;
	margin-top:40px;
	margin-left:10%;
}
#footer_for_pages{
	width:80%;
	height:250px;
	float:left;
	border:0px solid green;
	margin-top:10px;
	margin-left:7%;
}
#pages_link_footer:link,#pages_link_footer:visited{
	text-decoration:none;
	color:#20409a;
	font-family:sans-serif;
	font-size:16px;
}
#pages_link_footer_1:link , #pages_link_footer:visited{
	text-decoration:none;
	color:#ffffff;
	font-family:sans-serif;
	font-size:16px;
}
#pages_link_footer_1:hover , #pages_link_footer:active{
	color:#20409a;
}
#footer_pages_text{
	margin-bottom:8px;
}
#footer_pages_text_1{
	margin-bottom:8px;
}
#footer_third_div{
	width:30%;
	height:300px;
	float:left;
	border:0px solid yellow;
	margin-left:7%;
	margin-top:40px;
}
#sign_up_div_footer{
	width:65%;
	height:30px;
	float:left;
	border:0px solid blue;
	margin-top:65px;
	margin-left:-44%;
	
}
#sign_up_footer{
	width:100%;
	height:40px;
	border-radius:5px;
	border:0px solid #373B46;
	padding-left:10px;
	float:left;
}
#sign_up_bottom_footer:link, #sign_up_bottom_footer:visited{
	width:25%;
	height:33px;
	float:right;
	border-radius:5px;
	margin-right:-30%;
	background-color:#20409a;
	font-family:sans-serif;
	font-size:15px;
	font-weight:bold;
	text-transform:uppercase;
	color:#ffffff;
	margin-top:-1%;
	padding-top:10px;
	text-align:center;
	text-decoration:none;
}
#sign_up_bottom_text:link,#sign_up_bottom_text:visited{
	margin-top:7px;
}
#social_media_div_footer{
	width:70%;
	height:80px;
	float:left;
	border:0px solid green;
	margin-top:30px;
	margin-left:4%;
}
#social_media_photo_div:link, #social_media_photo_div:visited{
	width:20%;
	height:40px;
	float:left;
	border:0px solid blue;
	background-color:#000000;
	margin-left:2%;
}
#social_media_photo_div:hover, #social_media_photo_div:active{
	background-color:#20409a;
}
#social_media_image_size{
	width:90%;
	height:40px;
	margin-left:4%;
}
#footer_bottom{
	width:100%;
	height:50px;
	float:left;
	border:0px solid blue;
	background-color:#20409a;
}
#footer_for_text{
	width:60%;
	height:20px;
	float:left;
	border:0px solid blue;
	margin-left:33%;
	margin-top:16px;
}
#footer_text_copyright{
	font-family:Helvetica;
	font-size:17px;
	color:#ffffff;
}
/* end */

/* start */
@media only screen and (max-width:800px) {
  /* For Tablet */
  
  #sidebar{
   		transition: 1s;
		width: 250px;
		height: 100%;
		left: -250px;
		transition: all 150ms linear;
	}

	#sidebar ul li{
		transition: 1s;
		color: rgba(250,250,250,1);
		list-style: none;
		padding: 10px 10px;
		font-size: 16px;
		/*border-bottom: 1px solid rgba(100,100,100,0.3);*/
	}
	#sidebar ul #dropdown li:hover{
		transition: 1s;
		background-color: #0b3465;
		margin-left: -4.5%;
	}
	#menubar h3{
		transition: 1s;
		width: 30%;
		padding-top: 8px;
		font-size: 15px;
		height: 30px;
		margin-left: 38%;
	}
	#slider{
	animation: 20s slider infinite;
	width: 100%;
	height: 350px;
	background-position: top;
	background-size: cover;
	}
	#title_home img{
	margin-left: 28%;
	width: 45%;
	height: 130px;
	margin-top: 10px;
	}
	#title_home h3{
	margin-bottom: 30px;
	text-align: center;
	font-family: Franklin Gothic Heavy;
	color: darkblue;
	font-size: 16px;
	}
	#responsible_card_home{
	margin-top: 60px;
	transition: 1s;
	background-color: #2460A7FF;
	width: 80%;
	height: 330px;
	/*margin-top: 900px;*/
	padding: 3%;
	/*padding-top: 30px;*/
	margin-left: 7%;
	border-radius: 10px;
	box-shadow: 5px 5px 10px #000;
	float: left;
	}
	#department_location_header{
	width:100%;
	height:300px;
	background-image:url(img/edu1.jpg);
	opacity:2.2;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	padding-top: 13%;
	float: left;
}
#branch_of_kmd_div{
	width:100%;
	height:780px;
	float:left;
	margin-top:20px;
	border:0px solid blue;
}
#kmd_branch_header_div{
	width:100%;
	height:60px;
	float:left;
	margin-top:20px;
	background-color:#0b3465;
	border:0px solid blue;
}
#branch_of_kmd_header{
	color:#ffffff;
	text-align:center;
	font-family:Calibri;
	font-size:30px;
	margin-top:15px;
	text-decoration:none;
	text-transform:uppercase;	
}
#kmd_branch_content_div{
	width:100%;
	height:630px;
	float:left;
	border:0px solid blue;
	background-color:rgba(245, 248, 250, 0.9);
	margin-top:35px;
}
#kmd_branch_first_content{
	width:31%;
	height:250px;
	float:left;
	border:0px solid #000000;
	margin-left:1%;
	margin-top:40px;
	background-color:#ffffff;
}
#kmd_branch_first_content:hover {
	background-color:#0b3465;
	box-shadow:0px 0px 2px #000000;
	transition:1s;
}
#kmd_branch_first_content:hover #kmd_branch_header_txt{
	color:#ffffff;
}
#kmd_branch_first_content:hover #kmd_branch_header_txt_1{
	color:#ffffff;
}
#kmd_branch_first_content:hover #kmd_branch_header_txt_2{
	color:#ffffff;
}
#kmd_branch_second_content:hover #kmd_branch_header_txt{
	color:#ffffff;
}
#kmd_branch_second_content:hover #kmd_branch_header_txt_1{
	color:#ffffff;
}
#kmd_branch_second_content:hover #kmd_branch_header_txt_2{
	color:#ffffff;
}
#location_photo{
	margin-left:32%;
	margin-top:20px;
}
#education_small_div{
	width:90%;
	height:130px;
	float:left;
	border:0px solid blue;
	margin-top:28px;
	margin-left:4%;
}
#kmd_branch_header_txt{
	font-family:Trebuchet MS;
	font-size:15px;
	text-decoration:none;
	text-align:center;
	margin-top:2px;
}
#kmd_branch_header_txt_1{
	color:rgba(0 , 0 , 0 , 0.5);
	font-family:Geneva;
	font-size:12px;
	text-decoration:none;
	margin-top:20px;
	margin-left:5%;
}
#kmd_branch_header_txt_2{
	color:rgba(0 , 0 , 0 , 0.5);
	font-family:Geneva;
	font-size:13px;
	text-decoration:none;
	margin-top:5px;
	margin-left:16%;
}
#kmd_branch_second_content{
	width:31%;
	height:250px;
	float:left;
	border:0px solid #000000;
	margin-left:2%;
	margin-top:40px;
	background-color:#ffffff;
}
#kmd_branch_second_content:hover,#kmd_branch_second_content:active{
	background-color:#0b3465;
	box-shadow:0px 0px 2px #000000;
	transition:1s;
}
#kmd_office{
	width:100%;
	height:600px;
	float:left;
	border:0px solid red;
	margin-top:10px;
}
#header_for_kmd_office_div{
	width:80%;
	height:40px;
	float:left;
	border:0px solid green;
	margin-left:10%;
	margin-top:30px;
}
#header_for_kmd_office_header{
	font-family:Georgia;
	font-size:28px;
	text-decoration:none;
	margin-left:28%;
	
}
#kmd_office_div{
	width:95%;
	height:400px;
	float:left;
	border:0px solid yellow;
	margin-top:50px;
	margin-left:2%;
}

#kmd_office_div_1{
	width:45%;
	height:360px;
	float:left;
	border:0px solid pink;
	margin-top:25px;
	margin-left:3%;
}
#kmd_office_div_1:hover{
	transition: 1s;
	background-color: #caccce;
	box-shadow: 0px 0px 15px #000000;
}
#kmd_office_div_2{
	width:45%;
	height:360px;
	float:left;
	border:0px solid pink;
	margin-top:25px;
	margin-left:3%;
}
#kmd_office_div_2:hover{
	transition: 1s;
	background-color: #caccce;
	box-shadow: 0px 0px 15px #000000;
}
#photo_for_office{
	margin-top:30px;
	margin-left:38%;
}
#kmd_office_myanmar{
	width:90%;
	height:210px;
	float:left;
	border:0px solid blue;
	margin-top:20px;
	margin-left:5%;
}
#header_for_kmd_office{
	font-family:Lucida Sans;
	font-size:16px;
	text-decoration:none;
	text-transform:uppercase;
	text-align:center;
}
#kmd_office_myanmar_txt_div{
	width:90%;
	height:160px;
	float:left;
	border:0px solid blue;
	margin-top:15px;
	margin-left:5%;
}
#kmd_office_address{
	width:99%;
	height:70px;
	float:left;
	border:0px solid blue;
	margin-top:2px;
}
#kmd_office_myanamr_para_1{
	font-family:Calibri;
	font-size:13px;
	margin-left:2%;
	margin-top:10px;
}
#kmd_office_myanamr_para_3{
	font-family:Calibri;
	font-size:13px;
	margin-left:2%;
	margin-top:10px;
}
#kmd_office_myanamr_para_2{
	font-family:Calibri;
	font-size:14px;
	margin-left:4%;
	margin-top:8px;
}
#kmd_office_myanamr_para_4{
	font-family:Calibri;
	font-size:15px;
	text-align:center;
	margin-top:8px;
}
#communication_way{
	width:90%;
	height:30px;
	float:left;
	border:0px solid blue;
	margin-top:10px;
	margin-left:5%;
}
#img_for_phone{
	margin-top:7px;
	margin-left:5%;
}
#txt{
	font-size:14px;
	margin-top:-40px;
	margin-left:2%;
}
#txt1{
	font-size:13px;
	margin-top:-40px;
	margin-left:3%;
}
#communication_way_1{
	width:90%;
	height:30px;
	float:left;
	border:0px solid blue;
	margin-top:10px;
	margin-left:5%;
}
#email{
	margin-top:0px;
	margin-left:2%;
}
#whykmd_home{
		height: 400px;
		padding-top: 30px;
		padding-left: 3%;
		padding-right:3%;
		width: 94%;
		background-size: cover;
		float: left;
		margin-bottom: 50px;
	}
	#whykmd_home h3{
		font-size: 26px;
		margin-bottom: 10px;
	}
	#whykmd_home p{
		font-size: 20px;
		line-height: 33px;
	}
	#footer{
	width:100%;
	height:520px;
	border:0px solid green;
	float:left;
}
#footer_top{
	width:100%;
	height:470px;
	border:0px solid orange;
	float:left;
	background-color:#1b2230;
}
#footer_first_div{
	width:25%;
	height:330px;
	float:left;
	border:0px solid yellow;
	margin-left:5%;
	margin-top:40px;
}
#footer_first_header{
	width:43%;
	height:50px;
	float:left;
	border:0px solid purple;
	margin-left:6%;
	
	
}
#footer_header1{
	color:#ffffff;
	font-family:Helvetica;
	font-size:18px;
	font-weight:bold;
	text-transform:uppercase;
}
#horizontal_footer{
	width:40%;
	height:1px;
	float:left;
	border:0px solid blue;
	background-color:blue;
	margin-top:15px;
}
#footer_address{
	width:88%;
	height:60px;
	float:left;
	border:0px solid green;
	margin-left:-44%;
	margin-top:55px;
}
#footer_text_div{
	width:90%;
	height:265px;
	float:left;
	border:0px solid blue;
	margin-top:10px;
}
#footer_text{
	font-family:sans-serif;
	font-weight:bold;
	font-size:13px;
	color:#ffffff;
	margin-bottom:3px;
}
#footer_text_1{
	font-family:sans-serif;
	font-weight:bold;
	font-size:14px;
	color:#20409a;
	margin-top:13px;
	margin-bottom:3px;
}
#footer_second_div{
	width:20%;
	height:300px;
	float:left;
	border:0px solid blue;
	margin-top:40px;
	margin-left:9%;
}
#footer_for_pages{
	width:80%;
	height:250px;
	float:left;
	border:0px solid green;
	margin-top:10px;
	margin-left:7%;
}
#pages_link_footer:link,#pages_link_footer:visited{
	text-decoration:none;
	color:#20409a;
	font-family:sans-serif;
	font-size:16px;
}
#pages_link_footer_1:link , #pages_link_footer:visited{
	text-decoration:none;
	color:#ffffff;
	font-family:sans-serif;
	font-size:16px;
}
#pages_link_footer_1:hover , #pages_link_footer:active{
	color:#20409a;
}
#footer_pages_text{
	margin-bottom:8px;
}
#footer_pages_text_1{
	margin-bottom:8px;
}
#footer_third_div{
	width:30%;
	height:300px;
	float:left;
	border:0px solid yellow;
	margin-left:9%;
	margin-top:40px;
}
#sign_up_div_footer{
	width:65%;
	height:30px;
	float:left;
	border:0px solid blue;
	margin-top:65px;
	margin-left:-44%;
	
}
#sign_up_footer{
	width:100%;
	height:40px;
	border-radius:5px;
	border:1px solid #373B46;
	padding-left:10px;
	float:left;
}
#sign_up_bottom_footer:link, #sign_up_bottom_footer:visited{
	width:25%;
	height:33px;
	float:right;
	border-radius:5px;
	margin-right:-30%;
	background-color:#20409a;
	font-family:sans-serif;
	font-size:15px;
	font-weight:bold;
	text-transform:uppercase;
	color:#ffffff;
	margin-top:-1%;
	padding-top:10px;
	text-align:center;
	text-decoration:none;
}
#sign_up_bottom_text:link,#sign_up_bottom_text:visited{
	margin-top:7px;
}
#social_media_div_footer{
	width:70%;
	height:80px;
	float:left;
	border:0px solid green;
	margin-top:30px;
	margin-left:4%;
}
#social_media_photo_div:link, #social_media_photo_div:visited{
	width:28%;
	height:40px;
	float:left;
	border:0px solid blue;
	background-color:#000000;
	margin-left:2%;
}
#social_media_photo_div:hover, #social_media_photo_div:active{
	background-color:#20409a;
}
#social_media_image_size{
	width:90%;
	height:40px;
	margin-left:4%;
}
#footer_bottom{
	width:100%;
	height:50px;
	float:left;
	border:0px solid blue;
	background-color:#20409a;
}
#footer_for_text{
	width:60%;
	height:20px;
	float:left;
	border:0px solid blue;
	margin-left:26%;
	margin-top:16px;
}
#footer_text_copyright{
	font-family:Helvetica;
	font-size:17px;
	color:#ffffff;
}
}

/* end */


/* start */
@media only screen and (max-width: 600px)
{
	#menubar h3{
		width: 40%;
		font-size: 13px;
		margin-left: 35%;
	}
	#title_home img{
		height: 100px;
	}
	#slider{
		background-size: cover;
		height: 230px;
	}
	#department_location_header{
	width:100%;
	height:300px;
	background-image:url(img/edu1.jpg);
	opacity:2.2;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	padding-top: 13%;
	float: left;
}
#branch_of_kmd_div{
	width:100%;
	height:1950px;
	float:left;
	margin-top:20px;
	border:0px solid blue;
}
#kmd_branch_header_div{
	width:100%;
	height:60px;
	float:left;
	margin-top:20px;
	background-color:#0b3465;
	border:0px solid blue;
}
#branch_of_kmd_header{
	color:#ffffff;
	text-align:center;
	font-family:Calibri;
	font-size:15px;
	margin-top:23px;
	text-decoration:none;
	text-transform:uppercase;
}
#kmd_branch_content_div{
	width:100%;
	height:630px;
	float:left;
	border:0px solid blue;
	background-color:rgba(245, 248, 250, 0.9);
	margin-top:35px;
}
#kmd_branch_first_content{
	width:98%;
	height:250px;
	float:left;
	border:0px solid #000000;
	margin-left:1%;
	margin-top:40px;
	background-color:#ffffff;
}
#kmd_branch_first_content:hover {
	background-color:#0b3465;
	box-shadow:0px 0px 2px #000000;
	transition:1s;
}
#kmd_branch_first_content:hover #kmd_branch_header_txt{
	color:#ffffff;
}
#kmd_branch_first_content:hover #kmd_branch_header_txt_1{
	color:#ffffff;
}
#kmd_branch_first_content:hover #kmd_branch_header_txt_2{
	color:#ffffff;
}
#kmd_branch_second_content:hover #kmd_branch_header_txt{
	color:#ffffff;
}
#kmd_branch_second_content:hover #kmd_branch_header_txt_1{
	color:#ffffff;
}
#kmd_branch_second_content:hover #kmd_branch_header_txt_2{
	color:#ffffff;
}
#location_photo{
	margin-left:36%;
	margin-top:20px;
}
#education_small_div{
	width:90%;
	height:130px;
	float:left;
	border:0px solid blue;
	margin-top:28px;
	margin-left:4%;
}
#kmd_branch_header_txt{
	font-family:Trebuchet MS;
	font-size:17px;
	text-decoration:none;
	text-align:center;
	margin-top:2px;
}
#kmd_branch_header_txt_1{
	color:rgba(0 , 0 , 0 , 0.5);
	font-family:Geneva;
	font-size:16px;
	text-decoration:none;
	margin-top:20px;
	margin-left:3%;
}
#kmd_branch_header_txt_2{
	color:rgba(0 , 0 , 0 , 0.5);
	font-family:Geneva;
	font-size:16px;
	text-decoration:none;
	margin-top:5px;
	margin-left:16%;
}
#kmd_branch_second_content{
	width:98%;
	height:250px;
	float:left;
	border:0px solid #000000;
	margin-left:1%;
	margin-top:40px;
	background-color:#ffffff;
}
#kmd_branch_second_content:hover,#kmd_branch_second_content:active{
	background-color:#0b3465;
	box-shadow:0px 0px 2px #000000;
	transition:1s;
}
#kmd_office{
	width:100%;
	height:1000px;
	float:left;
	border:0px solid red;
	margin-top:10px;
}
#header_for_kmd_office_div{
	width:100%;
	height:40px;
	float:left;
	border:0px solid green;
	margin-left:0px;
	margin-top:30px;
}
#header_for_kmd_office_header{
	font-family:Georgia;
	text-decoration:none;
	font-size:27px;
	margin-left:8%;
	
}
#kmd_office_div{
	width:100%;
	height:850px;
	float:left;
	border:0px solid yellow;
	margin-top:50px;
	margin-left:0px;
}

#kmd_office_div_1{
	width:95%;
	height:400px;
	float:left;
	border:0px solid pink;
	margin-top:25px;
	margin-left:2%;
}
#kmd_office_div_1:hover{
	transition: 1s;
	background-color: #caccce;
	box-shadow: 0px 0px 15px #000000;
}
#kmd_office_div_2{
	width:95%;
	height:360px;
	float:left;
	border:0px solid pink;
	margin-top:28px;
	margin-left:2%;
}
#kmd_office_div_2:hover{
	transition: 1s;
	background-color: #caccce;
	box-shadow: 0px 0px 15px #000000;
}
#photo_for_office{
	margin-top:30px;
	margin-left:35%;
}
#kmd_office_myanmar{
	width:90%;
	height:210px;
	float:left;
	border:0px solid blue;
	margin-top:20px;
	margin-left:5%;
}
#header_for_kmd_office{
	font-family:Lucida Sans;
	font-size:15px;
	text-decoration:none;
	text-transform:uppercase;
	text-align:center;
}
#kmd_office_myanmar_txt_div{
	width:90%;
	height:160px;
	float:left;
	border:0px solid blue;
	margin-top:15px;
	margin-left:5%;
}
#kmd_office_address{
	width:99%;
	height:70px;
	float:left;
	border:0px solid blue;
	margin-top:2px;
}
#kmd_office_myanamr_para_1{
	font-family:Calibri;
	font-size:12px;
	margin-left:0%;
	margin-top:10px;
}
#kmd_office_myanamr_para_3{
	font-family:Calibri;
	font-size:12px;
	margin-left:0%;
	margin-top:10px;
}
#kmd_office_myanamr_para_2{
	font-family:Calibri;
	font-size:13px;
	margin-left:0%;
	margin-top:11px;
}
#kmd_office_myanamr_para_4{
	font-family:Calibri;
	font-size:13px;
	text-align:center;
	margin-top:11px;
}
#communication_way{
	width:90%;
	height:30px;
	float:left;
	border:0px solid blue;
	margin-top:10px;
	margin-left:5%;
}
#img_for_phone{
	margin-top:10px;
	margin-left:0%;
}
#txt{
	font-size:13px;
	margin-top:-40px;
	margin-left:3%;
}
#communication_way_1{
	width:90%;
	height:30px;
	float:left;
	border:0px solid blue;
	margin-top:10px;
	margin-left:5%;
}
#email{
	margin-top:10px;
	margin-left:-2%;
}
#txt1{
	font-size:12px;
	margin-top:-40px;
	margin-left:3%;
}
#whykmd_home p{
	line-height: 25px;
	font-size: 15px;
}
#footer{
	width:100%;
	height:1050px;
	border:0px solid green;
	float:left;
}
#footer_top{
	width:100%;
	height:980px;
	border:0px solid orange;
	float:left;
	background-color:#1b2230;
}
#footer_first_div{
	width:100%;
	height:330px;
	float:left;
	border:0px solid yellow;
	margin-left:0%;
	margin-top:40px;
}
#footer_first_header{
	width:43%;
	height:50px;
	float:left;
	border:0px solid purple;
	margin-left:6%;
}
#footer_header1{
	color:#ffffff;
	font-family:Helvetica;
	font-size:18px;
	font-weight:bold;
	text-transform:uppercase;
}
#horizontal_footer{
	width:40%;
	height:1px;
	float:left;
	border:0px solid blue;
	background-color:blue;
	margin-top:15px;
}
#footer_address{
	width:88%;
	height:60px;
	float:left;
	border:0px solid green;
	margin-left:-44%;
	margin-top:55px;
}
#footer_text_div{
	width:90%;
	height:265px;
	float:left;
	border:0px solid blue;
	margin-top:10px;
}
#footer_text{
	font-family:sans-serif;
	font-weight:bold;
	font-size:13px;
	color:#ffffff;
	margin-bottom:3px;
}
#footer_text_1{
	font-family:sans-serif;
	font-weight:bold;
	font-size:14px;
	color:#20409a;
	margin-top:13px;
	margin-bottom:3px;
}
#footer_second_div{
	width:100%;
	height:290px;
	float:left;
	border:0px solid blue;
	margin-top:40px;
	margin-left:0%;
}
#footer_for_pages{
	width:80%;
	height:250px;
	float:left;
	border:0px solid green;
	margin-top:10px;
	margin-left:7%;
}
#pages_link_footer:link,#pages_link_footer:visited{
	text-decoration:none;
	color:#20409a;
	font-family:sans-serif;
	font-size:16px;
}
#pages_link_footer_1:link , #pages_link_footer:visited{
	text-decoration:none;
	color:#ffffff;
	font-family:sans-serif;
	font-size:16px;
}
#pages_link_footer_1:hover , #pages_link_footer:active{
	color:#20409a;
}
#footer_pages_text{
	margin-bottom:8px;
}
#footer_pages_text_1{
	margin-bottom:8px;
}
#footer_third_div{
	width:100%;
	height:280px;
	float:left;
	border:0px solid yellow;
	margin-left:0%;
	margin-top:1px;
}
#sign_up_div_footer{
	width:55%;
	height:30px;
	float:left;
	border:0px solid blue;
	margin-top:65px;
	margin-left:-44%;
	
}
#sign_up_footer{
	width:100%;
	height:40px;
	border-radius:5px;
	border:0px solid #373B46;
	padding-left:10px;
	float:left;
}
#sign_up_bottom_footer:link, #sign_up_bottom_footer:visited{
	width:25%;
	height:33px;
	float:right;
	border-radius:5px;
	margin-right:-30%;
	background-color:#20409a;
	font-family:sans-serif;
	font-size:15px;
	font-weight:bold;
	text-transform:uppercase;
	color:#ffffff;
	margin-top:-1%;
	padding-top:10px;
	text-align:center;
	text-decoration:none;
}
#sign_up_bottom_text:link,#sign_up_bottom_text:visited{
	margin-top:7px;
}
#social_media_div_footer{
	width:70%;
	height:80px;
	float:left;
	border:0px solid green;
	margin-top:30px;
	margin-left:4%;
}
#social_media_photo_div:link, #social_media_photo_div:visited{
	width:20%;
	height:40px;
	float:left;
	border:0px solid blue;
	background-color:#000000;
	margin-left:2%;
}
#social_media_photo_div:hover, #social_media_photo_div:active{
	background-color:#20409a;
}
#social_media_image_size{
	width:90%;
	height:40px;
	margin-left:4%;
}
#footer_bottom{
	width:100%;
	height:70px;
	float:left;
	border:0px solid blue;
	background-color:#20409a;
}
#footer_for_text{
	width:99%;
	height:20px;
	float:left;
	border:0px solid blue;	
	margin-left:0%;
	margin-top:25px;
	
}
#footer_text_copyright{
	font-family:Helvetica;
	font-size:13px;
	color:#ffffff;
	text-align:center;
	
}
}
/* end */

