#footer{
	width:100%;
	height:450px;
	border:0px solid green;
	float:left;
}
#footer_top{
	width:100%;
	height:400px;
	border:0px solid orange;
	float:left;
	background-color:#1b2230;
}
#footer_first_div{
	width:23%;
	height:330px;
	float:left;
	border:0px solid yellow;
	margin-left:5%;
	margin-top:40px;
}
#footer_first_header{
	width:43%;
	height:50px;
	float:left;
	border:0px solid purple;
	margin-left:6%;
	
	
}
#footer_header1{
	color:#ffffff;
	font-family:Helvetica;
	font-size:18px;
	font-weight:bold;
	text-transform:uppercase;
}
#horizontal_footer{
	width:40%;
	height:1px;
	float:left;
	border:0px solid blue;
	background-color:#e64d43;
	margin-top:15px;
}
#footer_address{
	width:88%;
	height:60px;
	float:left;
	border:0px solid green;
	margin-left:-44%;
	margin-top:55px;
}
#footer_text_div{
	width:90%;
	height:265px;
	float:left;
	border:0px solid blue;
	margin-top:10px;
}
#footer_text{
	font-family:sans-serif;
	font-weight:bold;
	font-size:13px;
	color:#ffffff;
	margin-bottom:3px;
}
#footer_text_1{
	font-family:sans-serif;
	font-weight:bold;
	font-size:14px;
	color:#e64d43;
	margin-top:13px;
	margin-bottom:3px;
}
#footer_second_div{
	width:20%;
	height:300px;
	float:left;
	border:0px solid blue;
	margin-top:40px;
	margin-left:10%;
}
#footer_for_pages{
	width:80%;
	height:250px;
	float:left;
	border:0px solid green;
	margin-top:10px;
	margin-left:7%;
}
#pages_link_footer:link,#pages_link_footer:visited{
	text-decoration:none;
	color:#E64D43;
	font-family:sans-serif;
	font-weight:bold;
	font-size:16px;
	margin-bottom:8px;
}
#pages_link_footer_1:link, #pages_link_footer_1:visited{
	text-decoration:none;
	color:#ffffff;
	font-family:sans-serif;
	font-size:16px;
	font-weight:bold;
	margin-bottom:8px;
}
#pages_link_footer_1:hover , #pages_link_footer1:active{
	color:#E64D43;
}
#footer_pages_text{
	margin-bottom:8px;
}
#footer_pages_text_1{
	margin-bottom:8px;
}
#footer_third_div{
	width:30%;
	height:300px;
	float:left;
	border:0px solid yellow;
	margin-left:7%;
	margin-top:40px;
}
#sign_up_div_footer{
	width:65%;
	height:30px;
	float:left;
	border:0px solid blue;
	margin-top:65px;
	margin-left:-44%;
	
}
#sign_up_footer{
	width:100%;
	height:40px;
	border-radius:5px;
	border:0px solid #373B46;
	padding-left:10px;
	float:left;
}
#sign_up_bottom_footer:link, #sign_up_bottom_footer:visited{
	width:25%;
	height:33px;
	float:right;
	border-radius:5px;
	margin-right:-30%;
	background-color:#e64d43;
	font-family:sans-serif;
	font-size:15px;
	font-weight:bold;
	text-transform:uppercase;
	color:#ffffff;
	margin-top:-1%;
	padding-top:10px;
	text-align:center;
	text-decoration:none;
}
#sign_up_bottom_text:link,#sign_up_bottom_text:visited{
	margin-top:7px;
}
#social_media_div_footer{
	width:70%;
	height:80px;
	float:left;
	border:0px solid green;
	margin-top:30px;
	margin-left:4%;
}
#social_media_photo_div:link, #social_media_photo_div:visited{
	width:20%;
	height:40px;
	float:left;
	border:0px solid blue;
	background-color:#000000;
	margin-left:2%;
}
#social_media_photo_div:hover, #social_media_photo_div:active{
	background-color:#e64d43;
}
#social_media_image_size{
	width:90%;
	height:40px;
	margin-left:4%;
}
#footer_bottom{
	width:100%;
	height:50px;
	float:left;
	border:0px solid blue;
	background-color:#2d2e49;
}
#footer_for_text{
	width:60%;
	height:20px;
	float:left;
	border:0px solid blue;
	margin-left:33%;
	margin-top:16px;
}
#footer_text_copyright{
	font-family:Helvetica;
	font-size:17px;
	color:#ffffff;
}

/*________________*/

@media only screen and (max-width:800px) {
	#footer{
	width:100%;
	height:520px;
	border:0px solid green;
	float:left;
}
#footer_top{
	width:100%;
	height:470px;
	border:0px solid orange;
	float:left;
	background-color:#1b2230;
}
#footer_first_div{
	width:25%;
	height:330px;
	float:left;
	border:0px solid yellow;
	margin-left:5%;
	margin-top:40px;
}
#footer_first_header{
	width:43%;
	height:50px;
	float:left;
	border:0px solid purple;
	margin-left:6%;
	
	
}
#footer_header1{
	color:#ffffff;
	font-family:Helvetica;
	font-size:18px;
	font-weight:bold;
	text-transform:uppercase;
}
#horizontal_footer{
	width:40%;
	height:1px;
	float:left;
	border:0px solid blue;
	background-color:#e64d43;
	margin-top:15px;
}
#footer_address{
	width:88%;
	height:60px;
	float:left;
	border:0px solid green;
	margin-left:-44%;
	margin-top:55px;
}
#footer_text_div{
	width:90%;
	height:265px;
	float:left;
	border:0px solid blue;
	margin-top:10px;
}
#footer_text{
	font-family:sans-serif;
	font-weight:bold;
	font-size:13px;
	color:#ffffff;
	margin-bottom:3px;
}
#footer_text_1{
	font-family:sans-serif;
	font-weight:bold;
	font-size:14px;
	color:#e64d43;
	margin-top:13px;
	margin-bottom:3px;
}
#footer_second_div{
	width:20%;
	height:300px;
	float:left;
	border:0px solid blue;
	margin-top:40px;
	margin-left:9%;
}
#footer_for_pages{
	width:80%;
	height:250px;
	float:left;
	border:0px solid green;
	margin-top:10px;
	margin-left:7%;
}
#pages_link_footer:link,#pages_link_footer:visited{
	text-decoration:none;
	color:#E64D43;
	font-family:sans-serif;
	font-size:16px;
}
#pages_link_footer_1:link , #pages_link_footer_1:visited{
	text-decoration:none;
	color:#ffffff;
	font-family:sans-serif;
	font-size:16px;
}
#pages_link_footer_1:hover , #pages_link_footer_1:active{
	color:#E64D43;
}
#footer_pages_text{
	margin-bottom:8px;
}
#footer_pages_text_1{
	margin-bottom:8px;
}
#footer_third_div{
	width:30%;
	height:300px;
	float:left;
	border:0px solid yellow;
	margin-left:9%;
	margin-top:40px;
}
#sign_up_div_footer{
	width:65%;
	height:30px;
	float:left;
	border:0px solid blue;
	margin-top:65px;
	margin-left:-44%;
	
}
#sign_up_footer{
	width:100%;
	height:40px;
	border-radius:5px;
	border:1px solid #373B46;
	padding-left:10px;
	float:left;
}
#sign_up_bottom_footer:link, #sign_up_bottom_footer:visited{
	width:25%;
	height:33px;
	float:right;
	border-radius:5px;
	margin-right:-30%;
	background-color:#E64D43;
	font-family:sans-serif;
	font-size:15px;
	font-weight:bold;
	text-transform:uppercase;
	color:#ffffff;
	margin-top:-1%;
	padding-top:10px;
	text-align:center;
	text-decoration:none;
}
#sign_up_bottom_text:link,#sign_up_bottom_text:visited{
	margin-top:7px;
}
#social_media_div_footer{
	width:70%;
	height:80px;
	float:left;
	border:0px solid green;
	margin-top:30px;
	margin-left:4%;
}
#social_media_photo_div:link, #social_media_photo_div:visited{
	width:28%;
	height:40px;
	float:left;
	border:0px solid blue;
	background-color:#000000;
	margin-left:2%;
}
#social_media_photo_div:hover, #social_media_photo_div:active{
	background-color:#E64D43;
}
#social_media_image_size{
	width:90%;
	height:40px;
	margin-left:4%;
}
#footer_bottom{
	width:100%;
	height:50px;
	float:left;
	border:0px solid blue;
	background-color:#2d2e49;
}
#footer_for_text{
	width:60%;
	height:20px;
	float:left;
	border:0px solid blue;
	margin-left:26%;
	margin-top:16px;
}
#footer_text_copyright{
	font-family:Helvetica;
	font-size:17px;
	color:#ffffff;
}
}

/*----------------------------------------*/
@media only screen and (max-width: 600px){
	#footer{
	width:100%;
	/*height:900px;*/
	border:0px solid green;
	float:left;
}
#footer_top{
	width:100%;
	height:760px;
	border:0px solid orange;
	float:left;
	background-color:#1b2230;
}
#footer_first_div{
	width:100%;
	height:280px;
	float:left;
	border:0px solid yellow;
	margin-left:0%;
	margin-top:40px;
}
#footer_first_header{
	width:43%;
	height:50px;
	float:left;
	border:0px solid purple;
	margin-left:6%;
}
#footer_header1{
	color:#ffffff;
	font-family:Helvetica;
	font-size:18px;
	font-weight:bold;
	text-transform:uppercase;
}
#horizontal_footer{
	width:40%;
	height:1px;
	float:left;
	border:0px solid blue;
	background-color:#E64D43;
	margin-top:15px;
}
#footer_address{
	width:88%;
	height:60px;
	float:left;
	border:0px solid green;
	margin-left:-44%;
	margin-top:55px;
}
#footer_text_div{
	width:90%;
	height:265px;
	float:left;
	border:0px solid blue;
	margin-top:10px;
}
#footer_text{
	font-family:sans-serif;
	font-weight:bold;
	font-size:13px;
	color:#ffffff;
	margin-bottom:3px;
}
#footer_text_1{
	font-family:sans-serif;
	font-weight:bold;
	font-size:14px;
	color:#E64D43;
	margin-top:13px;
	margin-bottom:3px;
}
#footer_second_div{
	width:100%;
	height:220px;
	float:left;
	border:0px solid blue;
	margin-top:20px;
	margin-left:0%;
}
#footer_for_pages{
	width:80%;
	height:250px;
	float:left;
	border:0px solid green;
	margin-top:10px;
	margin-left:7%;
}
#pages_link_footer:link,#pages_link_footer:visited{
	text-decoration:none;
	color:#E64D43;
	font-family:sans-serif;
	font-size:16px;
}
#pages_link_footer_1:link , #pages_link_footer_1:visited{
	text-decoration:none;
	color:#ffffff;
	font-family:sans-serif;
	font-size:16px;
}
#pages_link_footer_1:hover , #pages_link_footer_1:active{
	color:#E64D43;
}
#footer_pages_text{
	margin-bottom:8px;
}
#footer_pages_text_1{
	margin-bottom:8px;
}
#footer_third_div{
	width:100%;
	height:180px;
	float:left;
	border:0px solid yellow;
	margin-left:0%;
	margin-top:1px;
}
#sign_up_div_footer{
	width:55%;
	height:30px;
	float:left;
	border:0px solid blue;
	margin-top:65px;
	margin-left:-44%;
	
}
#sign_up_footer{
	width:100%;
	height:40px;
	border-radius:5px;
	border:0px solid #373B46;
	padding-left:10px;
	float:left;
}
#sign_up_bottom_footer:link, #sign_up_bottom_footer:visited{
	width:25%;
	height:33px;
	float:right;
	border-radius:5px;
	margin-right:-30%;
	background-color:#E64D43;
	font-family:sans-serif;
	font-size:15px;
	font-weight:bold;
	text-transform:uppercase;
	color:#ffffff;
	margin-top:-1%;
	padding-top:10px;
	text-align:center;
	text-decoration:none;
}
#sign_up_bottom_text:link,#sign_up_bottom_text:visited{
	margin-top:7px;
}
#social_media_div_footer{
	width:70%;
	height:80px;
	float:left;
	border:0px solid green;
	margin-top:30px;
	margin-left:4%;
}
#social_media_photo_div:link, #social_media_photo_div:visited{
	width:20%;
	height:40px;
	float:left;
	border:0px solid blue;
	background-color:#000000;
	margin-left:2%;
}
#social_media_photo_div:hover, #social_media_photo_div:active{
	background-color:#E64D43;
}
#social_media_image_size{
	width:90%;
	height:40px;
	margin-left:4%;
}
#footer_bottom{
	width:100%;
	height:70px;
	float:left;
	border:0px solid blue;
	background-color:#2d2e49;
}
#footer_for_text{
	width:99%;
	height:20px;
	float:left;
	border:0px solid blue;	
	margin-left:0%;
	margin-top:25px;
	
}
#footer_text_copyright{
	font-family:Helvetica;
	font-size:13px;
	color:#ffffff;
	text-align:center;
	
}


}