/*menu bar css window*/
*{
	margin: 0px;
	padding: 0px;
	font-family: sans-serif;
}
body{
	/*height: 10000px;*/
}
#sidebar{
	margin-top: 50px;
	position: fixed;
	width: 300px;
	height: 100%;
	background-color: #0b3465;
	left: -300px;
	transition: all 150ms linear;
	/*opacity: 0.9;*/
}
#sidebar input[type="checkbox"]{
	display: none;
}
#sidebar.active{
	left: 0px;
}
#sidebar ul li{
	color: rgba(250,250,250,1);
	list-style: none;
	padding: 15px 15px;
	/*border-bottom: 1px solid rgba(100,100,100,0.3);*/
}
#sidebar ul li:hover{
	transition: 400ms;
	background-color: #0950a0;
}
#sidebar ul #dropdown li{
	width: 100%;
}
#sidebar ul #dropdown li:hover{
	background-color: #0b3465;
	margin-left: -6%;
}
#sidebar ul a{
	text-decoration: none;
}
#sidebar #dropdown{
	display: none;
}
#sidebar input:checked ~ #dropdown{
	display: block;
	margin-top: 10px;
}
#toggle-btn{
	position: relative;
	width: 40px;
	height: 40px;
	margin-left: 2%;
	margin-top: 4px;
	left: 0px;
}
#toggle-btn.active{
	/*left: 300px;*/
}
#toggle-btnb{
	/*float: right;*/
	display: none;
	position: relative;
	width: 30px;
	height: 30px;
	left: 300px;

}
#toggle-binb.active{
	
}
#sidebar img{
	width: 16px;
	height: 16px;
	margin-right: 20px;
}

#menubar{
	width: 100%;
	height: 50px;
	background-color: #0b3465;
	position: fixed;
}
#menubar #menu_btn{
	float: left;
	margin-left: 2%;
}
#menubar h3{
	color: white;
	border: 2px solid white;
	margin-top: 4px;
	width: 20%;
	height: 28px;
	margin-left: 40%;
	padding-top: 7px;
	text-align: center;
	border-radius: 10px;
	font-size: 17px;
}
#full_menu{
	width: 100%;
	height: 50px;
	background-color: brown;
	box-shadow: 1px 1px 15px #000000;
}
/*----------------end of menu bar window-------------------*/

@media only screen and (max-width:800px) {
 /*menu bar css tablet........................................*/

   #sidebar{
   		transition: 1s;
		width: 250px;
		height: 100%;
		left: -250px;
		transition: all 150ms linear;
	}

	#sidebar ul li{
		transition: 1s;
		color: rgba(250,250,250,1);
		list-style: none;
		padding: 10px 10px;
		font-size: 16px;
		/*border-bottom: 1px solid rgba(100,100,100,0.3);*/
	}
	#sidebar ul #dropdown li:hover{
		transition: 1s;
		background-color: #0b3465;
		margin-left: -4.5%;
	}
	#menubar h3{
		transition: 1s;
		width: 30%;
		padding-top: 8px;
		font-size: 15px;
		height: 30px;
		margin-left: 38%;
	}
	/*end of menu bar tablet...............................*/
	
}
/*----------------------------------------------------------------------*/



@media only screen and (max-width: 600px)
{
	#menubar h3{
		width: 40%;
		font-size: 13px;
		margin-left: 35%;
	}
	
}
